//
   Created with JetBrains WebStorm.
   User: agurha
   Date: 10/02/2013
   Time: 05:20
   To change this template use File | Settings | File Templates.
extends layout


block content
  div(class='hero-title container-fluid')
    div(class='hero-unit')
      h1 About Tayl


  div(class='container-fluid container-explain')
    div(class='container')
      div(class='row')
        div(class='span10 offset1')
          p
            | While developing risk engine applications for investment banks, biggest things which bugged Ankur was to get absolute visibility when things go wrong.

        div(class='container')
          div(class='row-fluid human')
            span(class='offset1 span2 container-image')
              div(class='bordered green')
                img(src='/images/agurha.jpg')

              div(class='links')
                a(href='http://github.com/agurha')

            span(class='span8')
              h2(class='dom-heading') Ankur Gurha

              p
                | Ankur was a developer on Credit Suisse Risk and Pnl platform for Credit desk. Before that he worked with Accenture building insurance comparison engine software. Ankur hold's a Masters in Distributed Systems Engineering from University of Hull.



//block content
//  div(class='row-fluid')
//    div(class='span12')
//      div(class='hero-unit')
//        div(class='row-fluid pagination-centered')
//          h3 About Tails.IO
//          hr
//        div(class='row-fluid')
//          h4 Core Values
//
//          div(class='person_profile')
//            div(class='person_image')
//              img(alt='Founder of Tails.IO', height='200', src='../../public/img/agurha.jpeg' , width='200')
//              br
//              br
//              | twitter:
//              a(href='http://twitter.com/agurha') @agurha
//
//              br
//              | email:
//              a(href='mailto:agurha@webshotr.com') agurha@tails.io
//            div(class='person_bio')
//              h5 Ankur Gurha
//              p
//                | Ankur was a developer on Credit Suisse Risk and Pnl platform for Credit desk.
//                | Before that he worked with Accenture building insurance comparison engine software.
//                | Ankur hold's a Masters in Distributed Systems Engineering from University of Hull.
