extends layout

block content
  div(class='headline row-fluid')
    h2(id='home') Make sense of Logs
      p
        | Get real-time intelligence of your cloud applications
    div(class='span4 offset1')

      img(src='/images/a1.jpg')

    div(class='span3 offset2')
      form
        fieldset
          legend Sign up Today

          span(class='help-block') Get 1GB Space Free

          input(type='text', placeholder='enter email address')
          input(type='text', placeholder='password')
          br
          button(type='submit', class='btn') Submit


  div(class='screenshots row-fluid')
    div(class='container')
      div(class='image-container span12')

  div(class='container')
    div(class='row')
      div(class='span10 offset5')
        h1(id='tour') Product Tour

    div(class='row')
      div(class='span6 offset2')
        h3 Send Data
        p
          | Send any sort of log data

      div(class='span4')
        p
          | Use our API to send data

    div(class='row')
      div(class='span6 offset2')
        h3 Search
        p
          | Search Data is meaningful way
          | Also you can perform boolean search

      div(class='span4')
        p
          | Use our powerful search

    div(class='row')
      div(class='span6 offset2')
        h3 Visualise
        p
          | View Data in powerful dashboards
      div(class='span4')
        p
          | View Data in a way which makes sense

  div(class='container')
    div(class='row')
      div(class='span10 offset3')
        h2 Start making sense of your logs - it's free

      div(class='span10 offset5')
        form
            label Email Address

            input(type='text', placeholder='enter email address')
            span(class='help-block')
            button(type='submit', class='btn') Submit





//div(class='row')
//  div(class='span5 offset1')
//    h2 Tails
//    p
//      span Welcome to New Logging Ideas
//
//  div(class='span5')
//    form
//      fieldset
//        legend Sign up Today
//
//        span(class='help-block') Get 1GB Space Free
//
//        label Email Address
//
//        input(type='text', placeholder='enter email address')
//        span(class='help-block')
//        button(type='submit', class='btn') Submit