doctype 5
html
  head
    title= title
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=LibreBaskerville")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
  body(class='external enable-fixed-header', id='welcome_index', data-action='index')
    div(class='navbar navbar-fixed-top')
      div(class='navbar-inner clearfix')
        div(class='container')
          a(class='brand', href='/')
            span(class='logo-text') Tayl.io

          a(class='btn btn-navbar', data-toggle='collapse' , data-target='.nav-collapse')
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')

          div(class='nav-collapse collapse')
            ul(class='nav pull-right')
              li
                a(href='/#tour')
                  span Tour
              //li
                a(href='/pricing')
                  span Plans and Pricing
              li
                a(href='/docs')
                  span Docs
              li
                a(href='/login')
                  span Login


    block content

    div(class='footer row-fluid')
      span(class='span12')
        a(class='mixpanel' , href='')

        ul(class='nav nav-pills')
          li
            a(href='/about') About

          li
            a(href='/blog') Blog

          li
            a(href='mailto:support@tails.io') Contact

          li
            a(href='/privacy') Privacy

          li
            a(href='/terms') Terms