//
   Created with JetBrains WebStorm.
   User: agurha
   Date: 12/03/2013
   Time: 11:05
   To change this template use File | Settings | File Templates.

extends layout

block content
  div(class='hero-title container-fluid')
    div(class='hero-unit')
      h1 Tayl's Terms of Service


  div(class='container')
    div(class='row')
      div(class='span10 offset1')
        p
          | Effective Date: 12 March, 2013
        p
          | Tayl.io is concerned about privacy issues and wants you to be familiar with how we collect, use and disclose information. This Privacy Policy describes our practices in connection with information that we collect through the Tayl.io service (the "Service"). This Privacy Policy does not extend to third-party software or services used with Tayl.io, such a thirty party servers hosting Tayl.io or providing credit card processing. By providing Personal Information to us, you agree to the terms and conditions of this Privacy Policy.


        h4 PERSONAL INFORMATION

        h6 Personal Information we collect
        p
          | "Personal Information" is information that identifies you as an individual, including:
          ol
            li Email Address
            li Username and passwords you create to use the Service
            li Credit or Debit Card Number to provide to third party provider to process payments

        h6 How We Collect Personal Information


        h4 RETENTION PERIOD
        p
          | We will retain your Personal Information for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or not prohibited by law.

        h4 SENSITIVE INFORMATION

        p
          | We ask that you not send us, and you not disclose, any sensitive Personal Information (e.g., social security numbers, information related to racial or ethnic origin, political opinions, religion or other beliefs, health, criminal background or trade union membership) to us.